@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* min-height: 120rem; */
  font-family: kanit, sans-serif;
  text-transform: uppercase;
  background-color: whitesmoke;
}

/* Heading */
.heading {
  text-align: center;
  margin: 2rem 0;
}

/* Loader */
.spinner {
  background-color: rgba(245, 245, 245, 0.649);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.spinner img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: whitesmoke; */
}

/* Images */
.img__container {
  margin: 0 30%;
}

.img__content {
  width: 100%;
  margin-bottom: 2px;
}

@media screen and (max-width: 600px) {
  .heading {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  .img__container {
    margin: 0 2%;
  }
}
